#start_date,
#end_date,
#luong,
#dem1,
#dem2,
#dem3 {
    display: none;
}

#grid-checkbox {
    display: grid;
    /* display: flex; */
    grid-template-columns: auto auto auto;
    grid-template-areas: "left right";
    width: 100%;
}

.navbar-dark .nav-item .nav-link {
    color: #fff;
}

.navbar-dark .nav-item .nav-link:hover {
    background-color: rgba(255, 255, 255, 0.1);
    transition: all 0.3s ease;
    border-radius: 0.25rem;
    color: #fff;
}

.fa-li {
    position: relative;
    left: 0;
}

.active {
    background-color: #454545;
    border-radius: 5px;
}

.tab-pane.active {
    background-color: #fff;
    border-color: #4c4cea;
}

.navbar-brand {
    font-family: Palatino Linotype;
    font-size: 150%;
}

body {
    position: relative;
    padding-top: 56px;
    background-color: #f8f9fa;
}

.card-img-top {
    width: 75px;
    height: 75px;
    border-radius: 0%;
}